In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Serial_KillerML/serial_killer_dataset.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
data.head()

   Record ID Agency Code  ... Perpetrator Count Record Source
0          1     AK00101  ...                 0           FBI
1          2     AK00101  ...                 0           FBI
2          3     AK00101  ...                 0           FBI
3          4     AK00101  ...                 0           FBI
4          5     AK00101  ...                 1           FBI

[5 rows x 24 columns]

In [ ]:
data = data.loc[538452:638454]

In [ ]:
data.head()

        Record ID Agency Code  ... Perpetrator Count Record Source
538452     538453     GA10601  ...                 1           FBI
538453     538454     GA10601  ...                 0           FBI
538454     538455     GA10601  ...                 0           FBI
538455     538456     GA10601  ...                 0           FBI
538456     538457     GA10601  ...                 0           FBI

[5 rows x 24 columns]

In [ ]:
data.shape

(100002, 24)

In [ ]:
data[data.columns].isnull().sum()

Record ID                0
Agency Code              0
Agency Name              0
Agency Type              0
City                     0
State                    0
Year                     0
Month                    0
Incident                 0
Crime Type               0
Crime Solved             0
Victim Sex               0
Victim Age               0
Victim Race              0
Victim Ethnicity         0
Perpetrator Sex          0
Perpetrator Age          0
Perpetrator Race         0
Perpetrator Ethnicity    0
Relationship             0
Weapon                   0
Victim Count             0
Perpetrator Count        0
Record Source            0
dtype: int64

In [ ]:
n = data.nunique(axis=0)

In [ ]:
n

Record ID                100002
Agency Code                7055
Agency Name                5969
Agency Type                   7
City                       1539
State                        51
Year                          7
Month                        12
Incident                   1000
Crime Type                    2
Crime Solved                  2
Victim Sex                    3
Victim Age                  101
Victim Race                   5
Victim Ethnicity              3
Perpetrator Sex               3
Perpetrator Age             188
Perpetrator Race              5
Perpetrator Ethnicity         3
Relationship                 28
Weapon                       16
Victim Count                 10
Perpetrator Count            11
Record Source                 2
dtype: int64

In [ ]:
data = data.copy()
dummies = pd.get_dummies(data['Crime Type'], prefix="Crime")
data = pd.concat([data, dummies], axis=1)
data = data.drop('Crime Type',axis=1)

In [ ]:
data = data.copy()
dummies = pd.get_dummies(data['Victim Race'], prefix="Victim_Race")
data = pd.concat([data, dummies], axis=1)
data = data.drop('Victim Race',axis=1)

In [ ]:
data = data.copy()
dummies = pd.get_dummies(data['Victim Ethnicity'], prefix="Victim_Ethnicity")
data = pd.concat([data, dummies], axis=1)
data = data.drop('Victim Ethnicity',axis=1)

In [ ]:
data = data.copy()
dummies = pd.get_dummies(data['Perpetrator Sex'], prefix="Perpetrator_Sex")
data = pd.concat([data, dummies], axis=1)
data = data.drop('Perpetrator Sex',axis=1)

In [ ]:
data = data.copy()
dummies = pd.get_dummies(data['Perpetrator Ethnicity'], prefix="Perpetrator_Ethnicity")
data = pd.concat([data, dummies], axis=1)
data = data.drop('Perpetrator Ethnicity',axis=1)

In [ ]:
data = data.copy()
dummies = pd.get_dummies(data['Record Source'], prefix="Record_Source")
data = pd.concat([data, dummies], axis=1)
data = data.drop('Record Source',axis=1)

In [ ]:
data = data.copy()
dummies = pd.get_dummies(data['Victim Sex'], prefix="Victim_Sex")
data = pd.concat([data, dummies], axis=1)
data = data.drop('Victim Sex',axis=1)

In [ ]:
dummies = pd.get_dummies(data['Perpetrator Race'], prefix="Perpetrator_Race")
data = pd.concat([data, dummies], axis=1)
data = data.drop('Perpetrator Race', axis=1)
data = data.copy()

In [ ]:
dummies = pd.get_dummies(data['Agency Type'], prefix="Agency_Type")
data = pd.concat([data, dummies], axis=1)
data = data.drop('Agency Type', axis=1)
data = data.copy()

In [ ]:
data.head()

        Record ID  ... Agency_Type_Tribal Police
538452     538453  ...                         0
538453     538454  ...                         0
538454     538455  ...                         0
538455     538456  ...                         0
538456     538457  ...                         0

[5 rows x 48 columns]

In [ ]:
data = data.drop(['Year','Record ID','Perpetrator Age'],axis=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Agency Code'] = le.fit_transform(data['Agency Code'])
data['Agency Name'] = le.fit_transform(data['Agency Name'])
data['City'] = le.fit_transform(data['City'])
data['State'] = le.fit_transform(data['State'])
data['Relationship'] = le.fit_transform(data['Relationship'])
data['Month'] = le.fit_transform(data['Month'])
data['Crime Solved'] = le.fit_transform(data['Crime Solved'])
data['Weapon'] = le.fit_transform(data['Weapon'])

In [ ]:
n

Record ID                100002
Agency Code                7055
Agency Name                5969
Agency Type                   7
City                       1539
State                        51
Year                          7
Month                        12
Incident                   1000
Crime Type                    2
Crime Solved                  2
Victim Sex                    3
Victim Age                  101
Victim Race                   5
Victim Ethnicity              3
Perpetrator Sex               3
Perpetrator Age             188
Perpetrator Race              5
Perpetrator Ethnicity         3
Relationship                 28
Weapon                       16
Victim Count                 10
Perpetrator Count            11
Record Source                 2
dtype: int64

In [ ]:
data

        Agency Code  ...  Agency_Type_Tribal Police
538452         1439  ...                          0
538453         1439  ...                          0
538454         1439  ...                          0
538455         1439  ...                          0
538456         1439  ...                          0
...             ...  ...                        ...
638449         7044  ...                          0
638450         7047  ...                          0
638451         7048  ...                          0
638452         7049  ...                          0
638453         7051  ...                          0

[100002 rows x 45 columns]

In [ ]:
data[:20].dtypes

Agency Code                                       int64
Agency Name                                       int64
City                                              int64
State                                             int64
Month                                             int64
Incident                                          int64
Crime Solved                                      int64
Victim Age                                        int64
Relationship                                      int64
Weapon                                            int64
Victim Count                                      int64
Perpetrator Count                                 int64
Crime_Manslaughter by Negligence                  uint8
Crime_Murder or Manslaughter                      uint8
Victim_Race_Asian/Pacific Islander                uint8
Victim_Race_Black                                 uint8
Victim_Race_Native American/Alaska Native         uint8
Victim_Race_Unknown                               uint8
Victim_Race_White                                 uint8
Victim_Ethnicity_Hispanic                         uint8
Victim_Ethnicity_Not Hispanic                     uint8
Victim_Ethnicity_Unknown                          uint8
Perpetrator_Sex_Female                            uint8
Perpetrator_Sex_Male                              uint8
Perpetrator_Sex_Unknown                           uint8
Perpetrator_Ethnicity_Hispanic                    uint8
Perpetrator_Ethnicity_Not Hispanic                uint8
Perpetrator_Ethnicity_Unknown                     uint8
Record_Source_FBI                                 uint8
Record_Source_FOIA                                uint8
Victim_Sex_Female                                 uint8
Victim_Sex_Male                                   uint8
Victim_Sex_Unknown                                uint8
Perpetrator_Race_Asian/Pacific Islander           uint8
Perpetrator_Race_Black                            uint8
Perpetrator_Race_Native American/Alaska Native    uint8
Perpetrator_Race_Unknown                          uint8
Perpetrator_Race_White                            uint8
Agency_Type_County Police                         uint8
Agency_Type_Municipal Police                      uint8
Agency_Type_Regional Police                       uint8
Agency_Type_Sheriff                               uint8
Agency_Type_Special Police                        uint8
Agency_Type_State Police                          uint8
Agency_Type_Tribal Police                         uint8
dtype: object

In [ ]:
X = data.drop(['Crime Solved'],axis=1)
Y = data['Crime Solved']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
lm = LogisticRegression()

In [ ]:
lm.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
predictions = lm.predict(X_test)
from sklearn import metrics
y_pred = lm.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred)))

Mean Absolute Error: 0.0007666411119629346
Mean Squared Error: 0.0007666411119629346
Root Mean Squared Error: 0.027688284742160077

In [ ]:
print(y_pred)

[1 0 0 ... 0 1 1]

In [ ]:
lm.score(X_test,Y_test)#final accuracy

0.9992333588880371

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics 
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,Y_train)
y_pred = clf.predict(X_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(Y_test, y_pred))
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred)))

Accuracy: 0.9989000366654445
Mean Absolute Error: 0.0010999633345555148
Mean Squared Error: 0.0010999633345555148
Root Mean Squared Error: 0.03316569514657449

In [ ]:
print(y_pred)

[1 0 0 ... 0 1 1]

In [ ]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()
model.fit(X_train,Y_train)

y_predict = model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(Y_test,y_predict)
print(accuracy)
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred)))

0.9985667144428519
Mean Absolute Error: 0.0010999633345555148
Mean Squared Error: 0.0010999633345555148
Root Mean Squared Error: 0.03316569514657449

In [ ]:
print(y_pred)

[1 0 0 ... 0 1 1]

In [ ]:
from sklearn.ensemble import RandomForestClassifier 
clf = RandomForestClassifier(n_estimators = 100)   

clf.fit(X_train, Y_train) 
 
y_pred = clf.predict(X_test) 

from sklearn import metrics 
accuracy_s =  metrics.accuracy_score(Y_test, y_pred)
print(accuracy_s)

0.9992000266657778

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred)))

Mean Absolute Error: 0.0007999733342221926
Mean Squared Error: 0.0007999733342221926
Root Mean Squared Error: 0.028283799854725896

In [ ]:
print(y_pred)

[1 0 0 ... 0 1 1]

In [ ]:
from sklearn.svm import SVC
model = SVC(kernel='rbf',random_state=42)
model.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=42, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
confirm = model.predict(X_test)
model.score(X_test,Y_test)

0.999100029999

In [ ]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test, confirm))
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, confirm))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test, confirm)))

Mean Absolute Error: 0.0008999700009999666
Mean Squared Error: 0.0008999700009999666
Root Mean Squared Error: 0.029999500012499652

In [ ]:
from sklearn.svm import SVC
model = SVC(kernel='linear',random_state=42)
model.fit(X_train,Y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=42, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
confirm = model.predict(X_test)
model.score(X_test,Y_test)

0.9994000199993334

In [ ]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test, confirm))
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, confirm))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test, confirm)))

Mean Absolute Error: 0.0005999800006666444
Mean Squared Error: 0.0005999800006666444
Root Mean Squared Error: 0.02449448918974724

In [ ]:
print(y_pred)

[1 0 0 ... 0 1 1]